a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}
